<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
  </system.web>
  <appSettings/>
  <connectionStrings>
    <add name="ConnStringDb1" connectionString="	workstation id=QLBANHANGTAINGHE.mssql.somee.com;packet size=4096;user id=vatthanavongpaxa_SQLLogin_1;pwd=688xmuznpd;data source=QLBANHANGTAINGHE.mssql.somee.com;persist security info=False;initial catalog=QLBANHANGTAINGHE" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>